<h1 class="py-3">Employee Data</h1>

<table class="table table-bordered table-hover">
    <thead class="thead-light text-center">
        <tr>
            <th>Emp Code</th>
            <th>Name</th>
            <th>Salary</th>
        </tr>
    </thead>
        <tbody *ngIf="employee">
            <tr *ngFor="let emp of employee">
                <td>{{emp.emp_code}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.salary}}</td>
            </tr>
        </tbody>    
</table>