<header>
  <div class="container">
    <a routerLink="/" class="logo">NG8</a>
    <nav>
    <ul>
      <!-- <li><a routerLink="emp" routerLinkActive="active">User</a></li> -->
      <!-- <li><a routerLink="about" routerLinkActive="active">add</a></li> -->
      <!-- <li><a routerLink="list" routerLinkActive="active">List</a></li> -->
      <li><a routerLink="emp" routerLinkActive="active">Employee</a></li>
      <li><a routerLink="user" routerLinkActive="active">User</a></li>
      <!-- <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>  -->
    </ul>
  </nav>
  </div>
</header>
<div class="container py-5">
  
  <router-outlet>
    <!-- <app-employee></app-employee> -->
  </router-outlet>
</div>