<div class="row">
<div class="col-md-6">
  <h4 class="text-center">ngIf</h4>
  <ul *ngFor="let person of people">
      <li *ngIf="person.age < 30">
      {{ person.name }} ({{ person.age }})
      </li>
    </ul>

    <h4 class="text-center">ngswitch</h4>
<select [(ngModel)]="selectedValue">
    <option *ngFor="let demo of demo;" [value]="demo.name">{{demo.name}}</option>
</select>
<div class='row' [ngSwitch]="selectedValue">  
    <div *ngSwitchCase="'Rustic'">Rustic is Pressed</div>  
    <div *ngSwitchCase="'Fantastic'">Fantastic is Selected</div>
    <div *ngSwitchCase="'Refined'">Refined is Selected</div>
    <div *ngSwitchCase="'Frozen'">Frozen is Selected</div>  
    <div *ngSwitchDefault>Default Option</div>  
</div>  
<br>
<ul *ngFor="let person of people" [ngSwitch]="person.country">
  <li *ngSwitchCase="'UK'" class="text-success">
      {{ person.name }} ({{ person.country }})
  </li>
  <li *ngSwitchCase="'USA'" class="text-primary">
      {{ person.name }} ({{ person.country }})
  </li>
  <li *ngSwitchCase="'HK'" class="text-danger">
      {{ person.name }} ({{ person.country }})
  </li>
  <li *ngSwitchDefault class="text-warning">
      {{ person.name }} ({{ person.country }})
  </li>
</ul>
<h4 class="text-center">Reactie Form</h4> 
    <div class="form-group">  
      <label>  
        Email:  
      </label>  
      <input type="text" [formControl]="email" />  
    </div>  
    <div class="form-group">  
      <button (click)="updateEmail()" class="btn btn-dark">Update Email</button>  
    </div>  
    <p>  
      Value: {{ email.value }}  
    </p>
</div>
<div class="col-md-6">
<h4 class="text-center">ngFor</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let demo of demo">
            <td>{{demo.id}}</td>
            <td>{{demo.name}}</td>
            <td>{{demo.description}}</td>
            <td>{{demo.price}}</td>
            <td>{{demo.quantity}}</td>
        </tr>
    </tbody>
</table>
<ul>
    <li *ngFor="let person of people; let i = index">
        {{i+1}} - {{person.name}}
    </li>
</ul>

<h4 class="text-center">NgFor (grouped)</h4>
<ul *ngFor="let group of peopleByCountry">
  <li>{{ group.country }}</li>
  <ul>
    <li *ngFor="let person of group.people">
      {{ person.name }}
    </li>
  </ul>
</ul>
</div>
</div>
<hr style="border: 2px solid #000000;border-radius: 2px;">
<div class="row">
<div class="col-md-6">
  <h4 class="text-center">NgStyle</h4>
  <ul *ngFor="let person of people">
    <li [ngStyle]="{'color':getColor(person.country)}"> 
        {{ person.name }} ({{ person.country }})
    </li>
  </ul>
  <h4 class="text-center">NgStyle Alternative syntax</h4>
  <ul *ngFor="let person of people">
      <li [ngStyle]="{'font-size.rem':1.5}" [style.color]="getColor(person.country)">
          {{ person.name }} ({{ person.country }})
      </li>
    </ul>
</div>
<div class="col-md-6">
  <h4 class="text-center">NgClass</h4>
<ul *ngFor="let person of people">
  <li [ngClass]="{
    'text-success':person.country === 'UK',
    'text-primary':person.country === 'USA',
    'text-danger':person.country === 'HK'
  }">{{ person.name }} ({{ person.country }})
  </li>
</ul>
<h4 class="text-center">NgClass Alternative syntax</h4>
<ul *ngFor="let person of people">
  <li [class.text-success]="person.country === 'UK'"
      [class.text-primary]="person.country === 'USA'"
      [class.text-danger]="person.country === 'HK'">{{ person.name }} ({{ person.country }})
  </li>
</ul>
</div>
</div>
<hr style="border: 2px solid #000000;border-radius: 2px;">
<div class="row">
  <div class="col-md-6">
    <h4 class="text-center">NgNonBindable</h4>
    <div>
      To render the name variable we use this syntax
      <pre ngNonBindable>{{ name }}</pre>
    </div>
  </div>
  <div class="col-md-6">
    <h4 class="text-center">Binding</h4>
    <input type="text" [id]="myId" value="Test">
    <input type="text" bind-disabled="isDisabled" id="{{myId}}" value="Test">

    <h2 class="text-success">Class Binding</h2>
  <h2 [class]="successClass">Class Binding</h2>
  <h2 class="text-success" [class]="successClass">Class Binding</h2>
  <h2 [class.text-danger]="hasError">Class Binding</h2>
  <h2 [ngClass]="messageClasses">Class Binding</h2>
  </div>

  <h2></h2>
</div>
